# Ignore the build and lib dirs
build/*

# Ignore any executables
bin/*

#
Ignore any pyc from imports
scripts/__pycache__
PDB/__pycache__
scripts/*.pyc
PDB/*.pyc
PDB/*dict
PDB/*csv
PDB/*ND
scripts/*.so
scripts/*.sh

*/*.pdf
*/*.json

# Ignore Mac specific files
.DS_Store

\#*\#
.\#*
*txt
