# Ignore the build and lib dirs
build/*

# Ignore any executables
bin/*

#
Ignore any pyc from imports

*/__pycache__
scripts/*.pyc
scripts/*.so
scripts/*.sh

PDB/*.pyc
PDB/*dict
PDB/*csv
PDB/*ND



*/*.pdf
*/*.json

# Ignore Mac specific files
.DS_Store

\#*\#
.\#*
*txt
